node_modules
.next
out
build
coverage
quality
# .env.local
# .env.production
# .env
Dockerfile
.dockerignore
.git
.gitignore
.claude
.kiro
npm-debug.log
README.md
LICENSE
.vscode
testsprite_tests
supabase/.branches
supabase/.temp
